[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:xRuins/.emacs.d
	branch = master
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh
	branch = master
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen
