[user]
	name = Ruins
	email = ruins@ruins.mobi
[color]
	ui = true
[merge]
    tool = meld
[core]
	editor = emacs -q
	pager = less
    whitespace = trailing-space,space-before-tab,indent-with-non-tab
    excludesfile = ~/.gitignore
    # パーミッションの変更を無視
    filemode = false
[alias]
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    st = status
    gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    cm = commit
    ci = commit -a
    ps = push
    pl = pull
    co = checkout
    mg = merge
    df = diff
    br = branch
    ra = remote add
    rr = remote rm
    rs = remote set-url
    tb = topic-branch
    rd = rm $(git ls-files --deleted)
[help]
    autocorrect = 1
[push]
	default = matching
