[include]
path = ~/.gitconfig.local

[color]
ui = true

[core]
editor = emacs -q -nw
pager = less
whitespace = trailing-space,space-before-tab,indent-with-non-tab
excludesfile = ~/.gitignore
filemode = false # ignore permission changes

[alias]
a  = add
br = branch
c  = commit
ci = commit -a
cm = commit
co = checkout
cp = cherry-pick
cpa = cherry-pick --abort
cpc = cherry-pick --continue
df = diff
gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
mg = merge
pl = pull
ps = push
psc = push origin -- `git branch --contains=HEAD`
r  = reset
ra = remote add
rb = rebase
rd = rm $(git ls-files --deleted)
ri = rebase -i
rr = remote rm
rs = remote set-url
st = status
tb = topic-branch

[help]
autocorrect = 1

[push]
default = current

[ghq]
root = ~/src

[hub]
protocol = https

[credential]
helper = osxkeychain 2>/dev/null
helper = git-credential-libsecret 2>/dev/null
helper = gnomekeyring 2>/dev/null
helper = cache --timeout 86400