[include]
path = ~/.gitconfig.local

[color]
ui = true

[core]
editor = emacs -q -nw
pager = less
whitespace = trailing-space,space-before-tab,indent-with-non-tab
excludesfile = ~/.gitignore
filemode = false # ignore permission changes

[diff]
compactionHeuristic = true

[alias]
a  = add
br = branch
c  = commit
ci = commit -a
cm = commit
co = checkout
cp = cherry-pick
cpa = cherry-pick --abort
cpc = cherry-pick --continue
df = diff
gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
mg = merge
pl = pull
ps = push
psc = push origin -- `git branch --contains=HEAD`
r  = reset
ra = remote add
rb = rebase
rd = rm $(git ls-files --deleted)
ri = rebase -i
st = status
tb = topic-branch
sw = switch
rs = restore

[help]
autocorrect = 1

[push]
default = current

[ghq]
root = ~/src

[hub]
protocol = https

[credential "https://github.com"]
        helper =
        helper = !gh auth git-credential
[credential "https://gist.github.com"]
        helper =
        helper = !gh auth git-credential
[commit]
	gpgsign = true
[gpg]
	format = ssh
[user]
	signingkey = /home/ruins/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
